@if(starshipDetails){
    <div class="card">
        <div class="card-body">
            <p class="card-title">Name: {{starshipDetails.name}}</p>
            <p class="card-text">Model: {{starshipDetails.model}}</p>
            <p class="card-text">Manufacturer: {{starshipDetails.manufacturer}}</p>
            <p class="card-text">Cost in credits: {{starshipDetails.cost_in_credits}}</p>
            <p class="card-text">Length: {{starshipDetails.length}}</p>
            <p class="card-text">Maximum atmosphering speed: {{starshipDetails.max_atmosphering_speed}}</p>
            <p class="card-text">Crew: {{starshipDetails.crew}}</p>
            <p class="card-text">Passengers: {{starshipDetails.passengers}}</p>
            <p class="card-text">Cargo capacity: {{starshipDetails.cargo_capacity}}</p>
            <p class="card-text">Consumables: {{starshipDetails.consumables}}</p>
            <p class="card-text">Hyperdrive rating: {{starshipDetails.hyperdrive_rating}}</p>
        </div>
    </div>
}